<table style="background-color:red;width:100%">

    <thead>
    <th>Customer Registration Form</th>
    </thead>
    
    <tbody>
    <tr><td>Full Name: </td>
     <td><input type="text" id="custFullName" /> </td></tr>
     
     <tr><td>Email Id: </td>
     <td><input type="email" id="custEmail" /> </td></tr>
     
     <tr><td>Phone Number: </td>
     <td><input type="number" id="custPhone" /> </td></tr>
     
     <tr><td>Gender: </td>
     <td>
     <select id="custGender">
     <option>Male</option>
     <option>FeMale</option>
     </select>
     </td></tr>
     
     <tr><td>Date of Birth: </td>
     <td><input type="date" id="custDOB" /> </td></tr>
     
     <tr><td></td>
     <td><input type="submit" onclick="Save()" id="btnSubmit" value="Save" /> </td></tr>
     
     
    </tbody>
    
    </table>